.navigation{
    background-color: rgba(0, 0, 0, 0.699);
    
    margin: 0%;
}
fieldset{
    background-color: rgba(0, 0, 0, 0.514);
    color: rgb(101, 109, 74);
    font-size: x-large;
}

legend{
    font-size: 2em;
}

.toimgbackground{
    background-color:#B6AD90;
    margin: 0%;
    background-image: url(/images/shop\ 1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed
    
}


body{
    background-color:#B6AD90;
    margin: 0em;
    font-family:;
}
