

img {
    border-radius: 50px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
    height: auto; 
}


body{
    background-color: #969180;
}
h1{
    color: #031f16;
    font-size: 7em;
    display: grid;
    place-items: center;
}
h2{
    color: #031f16;
    font-size: 3em;
    display: grid;
    place-items: center;
}

