body {
  background-color: rgb(211, 184, 147);
}
body a {
  color: rgb(211, 184, 147);
  text-decoration: none;
}
body a:visited {
  color: rgb(116, 87, 54);
}
body a:active {
  color: rgb(176, 179, 132);
}
body a:hover {
  color: rgb(136, 98, 55);
}

.love {
  background-image: url("/images/Modern Coffee Heartbeat Neon Light For Coffee Shop Decor, Custom Neon Sign, Coffee Shop Wall Decor, Coffee Lover Gifts, Cafe Store Led Sign.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  color: rgb(116, 87, 54);
  width: auto;
  border: 5px solid rgb(15, 6, 1);
  text-shadow: 6px 4px 4px rgb(15, 6, 1);
}
header .row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header img {
  border: 4px solid rgb(15, 6, 1);
  background-color: rgb(116, 87, 54);
}
header h3 {
  border: 5px dashed rgb(15, 6, 1);
  background-color: rgba(207, 112, 49, 0.28);
}

.doit {
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgb(116, 87, 54);
  color: rgb(15, 6, 1);
  border: 2px solid rgb(15, 6, 1);
  text-shadow: 0px 0px 0px rgb(15, 6, 1);
}

.deco {
  width: -moz-fit-content;
  width: fit-content;
  border: 3px dashed rgb(15, 6, 1);
  background-color: rgb(116, 87, 54);
}
.deco th {
  font-size: 1.5em;
}

.footer {
  background-color: rgb(15, 6, 1);
  color: rgb(116, 87, 54);
}

.baby {
  background-color: rgb(211, 184, 147);
  border: 4px solid rgb(15, 6, 1);
}

.modal-header, .modal-footer, .card-header {
  background-color: rgb(116, 87, 54);
  color: rgb(15, 6, 1);
  border: 3px solid rgb(15, 6, 1);
}
.modal-header .button, .modal-footer .button, .card-header .button {
  color: rgb(116, 87, 54);
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body {
  background-color: rgb(211, 184, 147);
  color: rgb(15, 6, 1);
  border: 2px solid rgb(15, 6, 1);
}

.navbar {
  background-color: rgb(15, 6, 1);
  color: rgb(116, 87, 54);
}
.navbar a {
  color: rgb(116, 87, 54);
  text-decoration: none;
}
.navbar a:visited {
  color: rgb(116, 87, 54);
}
.navbar a:active {
  color: rgb(116, 87, 54);
}
.navbar a:hover {
  color: rgb(211, 184, 147);
}

.whatisnew {
  border: 7px solid rgb(15, 6, 1);
}

.borderdis {
  border: 4px solid rgb(15, 6, 1);
}
.borderdis img {
  border: 2px solid rgb(15, 6, 1);
  background-color: rgb(116, 87, 54);
}

.takeaboutus, .takeowner {
  border: 2px solid rgb(15, 6, 1);
  background-color: rgb(116, 87, 54);
}
.takeaboutus h2, .takeaboutus p, .takeowner h2, .takeowner p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.takeaboutus h2, .takeowner h2 {
  font-size: xxx-large;
}

.ourdearpartner {
  border: 2px solid rgb(15, 6, 1);
  background-color: rgb(116, 87, 54);
}
.ourdearpartner img {
  background-color: rgb(116, 87, 54);
  border: 2px solid rgb(15, 6, 1);
}
.ourdearpartner h2, .ourdearpartner .card {
  background-color: rgb(116, 87, 54);
  border: 2px solid rgb(15, 6, 1);
}
.ourdearpartner h2 a, .ourdearpartner .card a {
  color: rgb(15, 6, 1);
}

.menu {
  border: 2px solid rgb(211, 184, 147);
  background-color: rgb(15, 6, 1);
}

.card.partners {
  background-color: rgb(116, 87, 54);
  border: 2px solid rgb(15, 6, 1);
}
.card.partners img {
  max-width: 250px;
  height: auto;
  border-radius: 70px;
  border: 2px solid rgb(15, 6, 1);
  gap: 4px !important;
  margin-right: 20px;
  margin-left: 20px;
}

figcaption {
  font-size: x-large;
  width: 250px;
  height: auto;
  border-radius: 70px;
  border: 2px solid rgb(15, 6, 1);
  gap: 4px !important;
  margin-right: 6%;
  margin-left: 4%;
}

.audioright {
  margin-left: 2%;
}

.vid {
  border-radius: 50px;
  border: 5px dashed rgb(15, 6, 1);
}

.bye {
  width: 100%;
  background-color: rgb(116, 87, 54);
  color: rgb(211, 184, 147);
  border-radius: 50px;
  padding: 5% 1%;
  border: 3px solid rgb(15, 6, 1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0px 0px 50px black;
}/*# sourceMappingURL=style.css.map */