@import "./var&func";

body{
    @include hyper
}
.love{
    background-image: url('/images/Modern\ Coffee\ Heartbeat\ Neon\ Light\ For\ Coffee\ Shop\ Decor\,\ Custom\ Neon\ Sign\,\ Coffee\ Shop\ Wall\ Decor\,\ Coffee\ Lover\ Gifts\,\ Cafe\ Store\ Led\ Sign.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; 
}

header{
    color: $milkcof;
    width: auto;
    text-shadow: 6px 4px 4px $choco;
    .row{
        @include flexxyy;
    }
    
}

.doit{
    width:fit-content;
    background-color: $royalgreen;
    color: $choco;
    border: 2px solid $vanila;
    text-shadow: 0px 0px 0px $choco;
}

.bg-image{
    background-image: url('/images/Coffee\ espresso\ template.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
.bg-text {
    padding: 20px;  }

 .deco{
    width: fit-content;
    border: 2em;
    
 }
th{
    font-size: 1.5em;
    }
    
.footer{
    background-color: $choco;
    color: white;
}
.baby{
    background-color: $coffee;
}