<!DOCTYPE html>
<html>
    head>
    <meta charset="UTF-8">
    <meta name="viewport" context="device-width, initial-scales.0">
    <meta http-equiv="X-UA-Compatible" content-IE="edge">
    <title>Coffee shop page</title>
</head>
    <body >
        <nav >
            <b>
            <img src="" alt="">
            <a href="">. Blogs .</a>
            <a href="About.us.html">. About.us .</a>
            <a href="registration.html" >. Login .</a>
        </b>
        </nav>
        <hr>
        <br>
        <header>
            <form >
                <fieldset>
                    <legend><h1 >Welcome</b> <b >Back</b></h1></legend>
                    <p style=>.o0o.<i><b>Rise and shine its coffee time </b></i>.o0o.<b style=>&#128007;..o</b></p>
                </fieldset>
            </form>
        </header>
        <hr>
        <br><br>
        <section>
                    <h3>Descreption:</h3>
                    <p>Nestled in the heart of town, Cozy Bean Coffee & Library is more than just a
                    coffee shop—it’s a vintage, cozy corner where coffee and literature lovers unite. 
                    Here, we believe in the simple joys of life: a warm cup of coffee, a good book, and a 
                    welcoming space to relax. Our cafe combines classic charm with modern comforts, making it 
                    the perfect spot to unwind, socialize, or dive into a new read</p>
        </section>
        <aside > <h3>News:</h3>
        <p>We’re excited to announce a new addition to the Cozy Bean Library—a 
            dedicated Reading Nook! Designed with comfort in mind, this cozy 
            corner offers plush seating, soft lighting, and a peaceful ambiance, 
            perfect for settling in with a good book. The Reading Nook is stocked 
            with a fresh selection of books, including new arrivals and handpicked 
            recommendations from our staff.

            Join us this week for the grand opening, where you can browse our latest 
            collection, enjoy a complimentary coffee sample, and be one of the first 
            to experience this cozy new space. We look forward to welcoming you!</p></aside>
        <br><br>
        <hr>
        <nav >
        <b>
            <a href="">. Shop .</a>
            <a href="">. Menu .</a>
            <a href="gallurey.html">. Gallurey .</a>
        </b>
        </nav>
        <br>
        <footer></footer>
    </body>
</html>