<div class="container">

<style>

figcaption{
  font-size: 30px;
  color: #806443;
}
.mediasize {
font-size: 9em;
display: grid;
place-items: center;
height: 10vh;}
@media (max-width: 768px) {
  .mediasize {
    font-size: 5em;
  }}


@media (max-width: 1024px) {
  .imgitem {
    width: 90%;
    height: auto;
  }
  
}
</style>
      <header >
        <br><br><br>
        <h1 class="mediasize"><b>About us</b></h1>

</header>
<section class="sec5">
    
            <div class="content2">
              <div class="row" style="margin-top: 10%;">
                <div class="col-10 col-lg-6 mt-5">
              <h1 class="headline3 ">Between the pages of a book and the rim of a coffee cup, reality takes a well-deserved break</h1>
              <h3 class="description3 ">At SUNSHINE, we strive to create a community hub for everyone who visits. Inspired by our love 
          for both coffee and books, we set out to design a unique space where guests can indulge in 
          expertly crafted brews while exploring our carefully curated library.</h3></div>
          <img class="col-10 col-lg-5 mt-5  ms-5" style="border-radius: 4%;" src="/images/cofeee breakfast.jpg" alt="">
      </div>
      <div class="row">

          <h4 class="desc4 col-5">Each book on our shelves has been hand-picked, and we regularly update our collection with 
            fresh titles. Customers can even contribute to the library, sharing their favourite reads with the community.
          </h4>

          <h4 class="desc4 col-5"> We also believe in giving back, with a donations program that lets customers support local literacy
             initiatives with either books or monetary contributions. </h4>
             </div></div>
             <div class="row " >
             <iframe class="col-lg-6 col-md-11"   width="1903" height="777" src="https://www.youtube.com/embed/-EYNyZjdUw0" 
             title="Coffee Shop Commercial | Promo | B-Roll" frameborder="0" allow="accelerometer; 
             autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
             referrerpolicy="strict-origin-when-cross-origin" allowfullscreen ></iframe>
             <h4 class="description3 col-9 col-lg-4">The owner the one the only magnificent IBRAHIM MOHAMED KABLAOUI, he has been driven 
              by the vision of creating a robotic future, welcoming all animals (mostly lizards), he has poured their
               crypto currency into every detail , from the vintage decor to the vintage PSA10 charzaird card.  <br>
               He believes in the power of a destruction to foster evil ideas, and relaxation. 
              Always open to suggestions , he encourages visitors to help shape the future of humanity and AI, whether 
              through book recommendations, drink ideas, community events or even world domination.
              
            </h4>
            </div>

            <h6 class="headline3 align  fs-2 fs-lg-0 " >Stop by and say hello to the owner of world destruction who loves a good conversation and
               is always eager to share evil plans zar-bomba</h6>
                <form class="row m-2">
                    <fieldset class="col-lg-7 col-11 p-5 me-4">
                    <legend ><h2 class="headline3 align  " >Partner</h2></legend>
                        <div class="card-body">   
                        <p class="description3" style="text-align: center;">
                            To make this coffee shop happen we needed some outside help ,inorder to make this website, logo and some other stuff,
                            our main partner and developer is Amela Vatres. <br>
                            Professor Amela is a very skilled and experienced Frontend Web Developer, she has worked on many projects and has a lot of knowledge in this field.
                            she has been a profssor in the International burch university. 
                        </p>
                        <a class="headline3 align" href="mailto:amela.vatres@ibu.edu.ba " target="_blank"><h6>EMAIL HER</h6></a>     
                    </div>
                </fieldset>
                <img class="imgitem" src="/images/160794140.jpg" alt="owner" class=" col-lg-4  m-3">   
                </form>
                <h3 class="button col-4 p-3 m-3" onclick="toggleContent()">other partners</h3>
                        <div id="toggle-content" style="display: none;">
                          <div class=" partners ">
                            <div style="display: flex; justify-content: space-evenly;"> 
                            <div style=" border-radius: 100%;"><img src="/images/amila.jpg" alt="" class="img-fluid"></div>
                            <div><img src="/images/183665468.png" alt="" class="img-fluid"></div>
                            <div><img src="/images/ajla.png" alt="" class="img-fluid"></div>
                            <br></div>
                            <div style="display: flex; justify-content: space-evenly;"> 
                            <figcaption>Amila Čaušević</figcaption>
                            <figcaption >adnan-hajro</figcaption>
                            <figcaption>Ajla Korman</figcaption>
                            </div>
                          </div>

                        </div>
                      
</section>
</div>