<div class="container-fluid">
    <header  >
            <h1 style="font-size: 7em;
            display: grid;
        place-items: center;"
        ><b>Gallery</b></h1>

    </header>
    <section >

        <div class="card menu" >
          <div class="flex-container">
                <div class="flex-item">
                    
                    <img src="/images/9d8740f011afa8104b7ba847dd657ac2.jpg" alt="" class="img-fluid">
                </div>
                
              <div class=" flex-item">
                <img src="/images/shop 1.jpg" alt="" class="img-fluid">
            </div>
    
                <div class=" flex-item">
                    <img src="/images/whatsuppp.jpg" alt="" class="img-fluid">
                </div>
                <div class=" flex-item">
                  <img src="/images/shop2.jpg" alt="" class="img-fluid">
              </div>
                
               
                <div class=" flex-item">
                    <img src="/images/glassesand relax.jpg" alt="" class="img-fluid">
                </div>
                <div class=" flex-item">
                    <img src="/images/coffee shop vibes.jpg" alt="" class="img-fluid">
                </div>
                <div class=" flex-item">
                  <img src="/images/green cup.jpg" alt="" class="img-fluid">
              </div>
                <div class=" flex-item">
                    <img src="/images/coffe1.jpg" alt="" class="img-fluid">
                </div>
        
    
                <div class=" flex-item">
                    <img src="/images/menu/Dalgona Coffee.jpg" alt="" class="img-fluid">
                </div>
                <div class=" flex-item">
                  <img src="/images/Vintage Bookshop Candle_ Teakwood + Leather + Mahogany.jpg" alt="" class="img-fluid">
              </div>
                <div class=" flex-item">
                    <img src="/images/let cofee conect us.jpg" alt="" class="img-fluid">
                </div>
                
                <div class=" flex-item">
                  <img src="/images/geto wallpaper.jpg" alt="" class="img-fluid">
              </div>
                <div class=" flex-item">
                    <img src="/images/coffe 2.jpg" alt="" class="img-fluid">
                </div>
  
                <div class=" flex-item">
                    <img src="/images/c1e42184-ff55-4037-942f-9fd4979708b0.jpg" alt="" class="img-fluid">
                </div>
                <div class=" flex-item">
                  <img src="/images/worker.jpg" alt="" class="img-fluid">
              </div>
            </section></div>