<div class="container-fluid">
<style>
          .gallery img {
            width: 100%;
            height: auto;
            cursor: pointer;
            border-radius: 10px;
            transition: transform 0.3s ease;
        }

        .gallery img:hover {
            transform: scale(1.05);
        }

        /* Modal Styles */
        .modal-dialog {
            max-width: 90%;
        }

        .modal-content {
            background-color: black;
        }

        .modal-body img {
            width: auto;
            height: 100vh;
        }
</style>

  
<section class="container-fluid  ">
  
  <div class="whatisnew">
    <div class="card w-100 rounded">
      <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
          </div>

          <div class="carousel-inner">
              <div class="carousel-item active">
                  <img src="/images/library/april desktop laptop wallpaper by sincerely_jehn.jpg" class="d-block w-100" alt="Book and Coffee">
                  <p></p>
              </div>
              <div class="carousel-item">
                  <img src="/images/library/Read Voraciously.jpg" class="d-block w-100" alt="Coffee Breakfast">
              </div>
              <div class="carousel-item">
                  <img src="/images/library/kids/12 Fantastic, Large-Format, Nonfiction Books for Kids · Book Nerd Mommy.jpg" class="d-block w-100" alt="Coffee and Rain">
              </div>
              <div class="carousel-item">
                  <img src="/images/bookcafe.jpg" class="d-block w-100" alt="Coffee Vibes">
              </div>
              <div class="carousel-item">
                  <img src="/images/Aesthetic Library Desktop Wallpaper.jpg" class="d-block w-100" alt="Cozy Coffee Corner">
              </div>
              <div class="carousel-item">
                  <img src="/images/Vintage Bookshop Candle_ Teakwood + Leather + Mahogany.jpg" class="d-block w-100" alt="Coffee Shop Background">
              </div>
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
          </button>
          
      </div>
  </div></div>

      <div class=" m-5  cardie">
        
        <div class="card carie m-3 ">
          <div class="card-body  ">
            <h1 class="card-header ps-5 ms-5 " >KIDS:</h1>
            <div class="content-toggle">
              <h3 onclick="toggleContent()">description</h3>
              <p id="toggle-content" style="display: none;">The kids section has all books needed to enhance the kids imaginations. <br> the perfect collection to give to your kid while you dose into relaxiation</p>
            </div>
              <div class="row ">
                <div class=" col-lg-2 col-md-5 col-sm-11 m-3">
                  <img src="/images/library/kids/50 Children's Books that Teach Social-Emotional Intelligence - Nourishing My Scholar.jpg" alt="Image 1" class="thumbnail img-fluid" data-bs-toggle="modal" data-bs-target="#imageModal" data-src="/images/library/kids/50 Children's Books that Teach Social-Emotional Intelligence - Nourishing My Scholar.jpg">
                </div>
                <div class=" col-lg-2 col-md-5 col-sm-11 m-3">
                  <img src="/images/library/kids/Happy Beeing Me.jpg" alt="Image 1" class="thumbnail img-fluid" data-bs-toggle="modal" data-bs-target="#imageModal" data-src="/images/library/kids/Happy Beeing Me.jpg">
                </div>
                <div class=" col-lg-2 col-md-5 col-sm-11 m-3">
                  <img src="/images/library/kids/The Secret Life of Bugs [Book].jpg" alt="" class="thumbnail img-fluid"  data-bs-toggle="modal" data-bs-target="#imageModal" data-src="/images/library/kids/The Secret Life of Bugs [Book].jpg">
                </div>
                <div class=" col-lg-2 col-md-5 col-sm-11 m-3">
                  <img src="/images/library/kids/Mimimoo Illustration _ Digital Illustrator and Content Creator.jpg" class="thumbnail img-fluid"  data-bs-toggle="modal" data-bs-target="#imageModal" data-src="/images/library/kids/Mimimoo Illustration _ Digital Illustrator and Content Creator.jpg">
                </div>
                <div class=" col-lg-2 col-md-5 col-sm-11 m-3">
                  <img src="/images/library/kids/Salima Alikhan Other _ I Can Be All Three -- Salima Alikhan _ Color_ Gold _ Size_ Hardcover.jpg" class="thumbnail img-fluid"  data-bs-toggle="modal" data-bs-target="#imageModal" data-src="/images/library/kids/Salima Alikhan Other _ I Can Be All Three -- Salima Alikhan _ Color_ Gold _ Size_ Hardcover.jpg">
                </div>
              </div>
              
          </div>
        </div>
    <div class="card carie m-3 ">
      <div class="card-body  ">
        <h1 class="card-header ps-5 ms-5 ">TEENS:</h1>
          <div class="row ">
            <div class="content-toggle">
              <h3 onclick="toggleContent1()">description</h3>
              <p id="toggle-content1" style="display: none;">The teen section has all books needed to escape reality and sink into a world of fiction. <br> the perfect collection to read after a long day of studying</p>
            </div>
            <div class=" col-lg-2 col-md-5 col-sm-11 m-3">
              <img src="/images/library/teen/100 Best Books for 6th Graders (Age 11 – 12).jpg" class="thumbnail img-fluid"  data-bs-toggle="modal" data-bs-target="#imageModal" data-src="/images/library/teen/100 Best Books for 6th Graders (Age 11 – 12).jpg">
            </div>
            <div class=" col-lg-2 col-md-5 col-sm-11 m-3">
              <img src="/images/library/teen/100 Best Books for 7th Graders (12 Year Olds).jpg" class="thumbnail img-fluid"  data-bs-toggle="modal" data-bs-target="#imageModal" data-src="/images/library/teen/100 Best Books for 7th Graders (12 Year Olds).jpg">
            </div>
            <div class=" col-lg-2 col-md-5 col-sm-11 m-3">
              <img src="/images/library/teen/Behind the Canvas [Book].jpg" class="thumbnail img-fluid"  data-bs-toggle="modal" data-bs-target="#imageModal" data-src="/images/library/teen/Behind the Canvas [Book].jpg">
            </div>
            <div class=" col-lg-2 col-md-5 col-sm-11 m-3">
              <img src="/images/library/teen/Pinterest.jpg" class="thumbnail img-fluid"  data-bs-toggle="modal" data-bs-target="#imageModal" data-src="/images/library/teen/Pinterest.jpg">
            </div>
            <div class=" col-lg-2 col-md-5 col-sm-11 m-3">
              <img src="/images/library/teen/Fantasy Book Cover Design.jpg" class="thumbnail img-fluid"  data-bs-toggle="modal" data-bs-target="#imageModal" data-src="/images/library/teen/Fantasy Book Cover Design.jpg">
            </div>
          </div>
      </div>
    </div>
  <div class="card carie m-3 ">
    <div class="card-body  ">
      <h1 class="card-header ps-5 ms-5 ">EDUCATIONAL:</h1>
      <div class="content-toggle">
        <h3 onclick="toggleContent2()">description</h3>
        <p id="toggle-content2" style="display: none;">The EDUCATIONAL section has all books needed to enhance your knowledge. <br> the perfect collection to give to go over while studying</p>
      </div>
        <div class="row ">
          <div class=" col-lg-2 col-md-5 col-sm-11 m-3">
            <img src="/images/library/educational/Other Words For Home (Thorndike Press Large Print Striving Reader Collection).jpg" class="thumbnail img-fluid"  data-bs-toggle="modal" data-bs-target="#imageModal" data-src="/images/library/educational/Other Words For Home (Thorndike Press Large Print Striving Reader Collection).jpg">
          </div>
          <div class=" col-lg-2 col-md-5 col-sm-11 m-3">
            <img src="/images/library/educational/Icarus [Book].jpg" class="thumbnail img-fluid"  data-bs-toggle="modal" data-bs-target="#imageModal" data-src="/images/library/educational/Icarus [Book].jpg">
          </div>
          <div class=" col-lg-2 col-md-5 col-sm-11 m-3">
            <img src="/images/library/educational/Better Minds.jpg" class="thumbnail img-fluid"  data-bs-toggle="modal" data-bs-target="#imageModal" data-src="/images/library/educational/Better Minds.jpg">
          </div>
          <div class=" col-lg-2 col-md-5 col-sm-11 m-3">
            <img src="/images/library/educational/Out of Character [Book].jpg" class="thumbnail img-fluid"  data-bs-toggle="modal" data-bs-target="#imageModal" data-src="/images/library/educational/Out of Character [Book].jpg">
          </div>
          <div class=" col-lg-2 col-md-5 col-sm-11 m-3">
            <img src="/images/library/educational/Where You See Yourself.jpg" class="thumbnail img-fluid"  data-bs-toggle="modal" data-bs-target="#imageModal" data-src="/images/library/educational/Where You See Yourself.jpg">
          </div>
        </div>
    </div>
  </div>
<div class="card carie m-3 ">
  <div class="card-body  ">
    <h1 class="card-header ps-5 ms-5 ">ADULTS:</h1>
    <div class="content-toggle">
      <h3 onclick="toggleContent3()">description</h3>
      <p id="toggle-content3" style="display: none;">The adult section has all books needed to escape reality into the life you wish you had. <br> the perfect collection to go through with a hot black coffee and a soft cake</p>
    </div>
      <div class="row ">
        <div class=" col-lg-2 col-md-5 col-sm-11 m-3">
          <img src="/images/library/adults/Don't Let the Forest In.jpg" class="thumbnail img-fluid"  data-bs-toggle="modal" data-bs-target="#imageModal" data-src="/images/library/adults/Don't Let the Forest In.jpg">
        </div>
        <div class=" col-lg-2 col-md-5 col-sm-11 m-3">
          <img src="/images/library/adults/Scariest New Horror Books To Read 2024.jpg" class="thumbnail img-fluid"  data-bs-toggle="modal" data-bs-target="#imageModal" data-src="/images/library/adults/Scariest New Horror Books To Read 2024.jpg">
        </div>
        <div class=" col-lg-2 col-md-5 col-sm-11 m-3">
          <img src="/images/library/adults/Winter 2020-2021 YA Paperbacks For Your TBR.jpg" class="thumbnail img-fluid"  data-bs-toggle="modal" data-bs-target="#imageModal" data-src="/images/library/adults/Winter 2020-2021 YA Paperbacks For Your TBR.jpg">
        </div>
        <div class=" col-lg-2 col-md-5 col-sm-11 m-3">
          <img src="/images/library/adults/c37eaff3-6ae3-443d-94a6-34b8a3d3b845.jpg" class="thumbnail img-fluid"  data-bs-toggle="modal" data-bs-target="#imageModal" data-src="/images/library/adults/c37eaff3-6ae3-443d-94a6-34b8a3d3b845.jpg">
        </div>
        <div class=" col-lg-2 col-md-5 col-sm-11 m-3">
          <img src="/images/library/adults/100 Best Books for 6th Graders (Age 11 – 12).jpg" class="thumbnail img-fluid"  data-bs-toggle="modal" data-bs-target="#imageModal" data-src="/images/library/adults/100 Best Books for 6th Graders (Age 11 – 12).jpg">
        </div>
      </div>
  </div>
</div>
</section>
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-body">
              <img src="" alt="Large Image" id="modalImage">
          </div>
      </div>
  </div>
</div>
</div>
